.layout {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.header,
.footer {
  padding: 10px 0;
  background-color: steelblue;

  a {
    color: inherit;
  }
}

.main {
  background-color: #FFF0F0;
}

.fade-element {
  opacity: 0;
}

.fade-in {
  animation: fade 4s ease-in;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


