.layout {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.header,
.footer {
  padding: 10px 0;
  background-color: steelblue;

  a {
    color: inherit;
  }
}

.fade-item {
  visibility: hidden;
}

.main {
  background-color: #FFF0F0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


